body {
    background-color: #050b28;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem 0 0 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/*HEADER STYLES*/

header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
}

#header-container {
    height: 100%;
    width: 60vw;
    min-width: 400px;
    border: 2px solid white;
    border-radius: 10px;
    border-color: #53586c;
    padding: 0 2rem;
    

    display: flex; 
}

.logo-container {
    height: 100%; 
    width: 25%;
    min-width: 100px;
    /*background-color: yellow;*/
}


.logo-container > p {
    font-size: 2rem;
    line-height: 2px;
}

#scores-container {
    height: 100%;
    width: 75%;
    min-width: 200px;
    /*background-color: red;*/
    color: #050b28;

    display: flex;
    justify-content: flex-end;
    gap: 10px;

}   

.player-score-container {
    height: 100%;
    width: 22%;
    min-width: 50px;
    /*background-color: blue;*/

    display: flex;
    justify-content: center;
    align-items: center;
} 

.player-score-info, .computer-score-info{
    height: 83%;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-score-text, .computer-score-text {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 5px;

    /*add background-color: red;*/
}

.player-score, .computer-score {
    margin-top: -25px;
    
    display: flex;
    justify-content: center;
    /*background-color: red;*/
}

#official-player-score, #official-comp-score {
    font-size: 4rem;
}

.computer-score-container {
    height: 100%;
    width: 22%;
    min-width: 50px;
    /*background-color: blue;*/
    margin-left: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.line-height {
    line-height: 2px;
}


/*STYLES FOR BATTLEGROUNDS*/

.main-battlegrounds {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blue;*/
}

.player-choice-container, .computer-choice-container {
    height: 85%;
    width: 13vw;

    /*background-color: pink;*/
}

.player-choice-text, .computer-choice-text {
    height: 20%;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-choice-icon, .computer-choice-icon {
    height: 80%;
    width: 100%;
    /*background-color: red;*/
}

.player-choice-f-icon, .computer-choice-f-icon {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border: 2px solid #53586c;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}

.result-container {
    height: 40%;
    width: 45vh;
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-text {
    font-size: 2rem;
}


/* ATTACKS CONTAINER*/

.attacks-container{
    height: 30vh;
    width: 100%;
    padding-top: 1vh;

    /*background-color: red;*/
}

.prompt-text {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: yellow;*/
}

.attacks-options {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    /*background-color: blue;*/
}

button {
    height: 110px;
    width: 110px;
    border-radius: 100px;
    border: 10px solid;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    height: 140px;
    width: 140px;
    border: 20px solid;
}

.icon-img {
    height: 70px;
}

#rock-attack {
    border-color: #9D0191;
}

#paper-attack {
    border-color: #FAA300;
}

#scissor-attack {
    border-color: #FF1E1E;
}